.closeButton,
.closeButton:hover{
    cursor: pointer;
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.modal-header{
    text-align: right;
    height: 10px;
    width: 100%;
    align-self: flex-end !important;
    justify-content: end !important;
    border-bottom: none;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.ModalLoginRegister .modal-content{
    border-radius: 25px;
}
.modal-body{
    padding: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 25px;
}

.ModalLoginRegister .row{
    min-height: 600px;
}

.formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colImg{
    padding: 0;
}
.colImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formRegister{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formRegister p{
    font-size: 12px;
}

.custom-checkbox label{
    font-size: 12px;
}

@media screen and (max-width:767px) {
    .colImg{
display: none;
    }
}