.closeButton,
.closeButton:hover{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.modal-header{
    text-align: right;
    width: 100%;
    align-self: flex-end !important;
    justify-content: end !important;
    border-bottom: none;
    padding: 0;
    border-bottom: none !important;
}

.ModalLoginRegister .modal-content{
    border-radius: 25px;
    border: none;
background: transparent;
    
}

.formColumn{
    background-image: url('../Assets/card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px;
}

.modal-body{
    padding: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 25px;
}

.ModalLoginRegister .row{
    min-height: 600px;
}

.colImg{
    padding: 0;
}
.colImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-checkbox label{
    font-size: 12px;
}

.formColumn .link{
    border: none;
    background: transparent;
    color: #fff;
    font-weight: 800;
}

.right-align {
    text-align: right;
  }
  
.btnForm{
    align-self: center;
    width: 100%;
}

@media screen and (max-width:767px) {
    .colImg{
display: none;
    }
}