@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.cardsBoatsCs{
    background: #fff;
    padding: 3rem;
}

.sliderCards{
    margin: 0 auto;
    height: 500px;;
}

.slick-slide img{
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 45px;
}

.slide{
    transform: scale(0.4);
    transition: transform 300ms;
    opacity: 0.5;
    text-align: center;
    height: 500px;
    padding: 20px;
}

.slide > a {
   border-radius: 15px;
}

.activeSlide{
    transform: scale(1.1);
    opacity: 1;
    text-align: center;
}

.arrow{
    background-color: #FFF;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}


.arrow svg{
    transition: color 300ms;
}

.arrow svg:hover{
    color: #68edff;
}

.next{
    right: 0;
    top: 50%;
}

.prev{
    left: 0;
    top: 50%;
}

@media screen and (max-width:600px) {
    .slick-slide img{
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width:991px) {
    .slide > a {
        width: 180px;
    }

    .title__Section{
        font-size: 30px;
    }

    .subtitle__Section{
        font-size: 18px;
    }

    .boatTitle{
        font-size: 16px;
        font-weight: bold;
    }

    .boat__location{
        font-size: 15px;
        font-style: italic;
    }

    .boat__price{
        font-size: 14px;
    }
}