
.footer--wrapper{
    background-color: #FFF;
}
.footer-subscription{
    background-image: url("../Assets/Background_CTA.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer-subscription .input-areas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscription .row{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-subscription .row img{
padding: 30px;
max-width: 500px;
width: 100%;
}

.footer-subscription form{
    background: #FFF;
    padding: 5px;
    border-radius: 15px;
    width: 310px;
}

.footer-subscription input{
    border: none;
    outline: none;
    width: 200px;
}

.img--promociones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscription .subscribe--button{
    border: none;
    outline: none;
    background: #0554f0;
    border-radius: 15px;
    padding: 5px;
    color: #FFF;
    width: 100px;
}

.footer-links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-links-wrapper .logo--social--stores{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links-wrapper .logo--social--stores .logo--azul{
width: 80px;
height: auto;
margin: 20px;
}

.social--media--icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.logo--social--stores h5{
    color: #0554f0;
    font-weight: bold;
}

.social--media--icons a{
    color: #0554f0;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 20px;
}

.footer--stores{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;
}

.links--marinero-head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.links--marinero{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

.links--marinero--web{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.links--marinero--web h2{
    font-size: 20px;
    font-weight: bold;
    top: 0;
    margin-bottom: 10px;
}

.links--marinero--web a{
    color: #0554f0;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 15px;
}

.links--marinero img{
    width: 120px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-rights{
    margin-top: 20px;
    color: #0554f0;
    font-weight: bold;
}

.payment-methods{
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.payment-methods-icon > img{
    width: 60px;
    height: auto;
    margin: 5px;
}

@media screen and (max-width:720px) {
    .footer-subscription form{
        display: flex;
        flex-direction: row;
padding: 5px;
margin: 0;
    }

    .footer-subscription input{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    }
}