.footer-container{
    background-color: #0554f0;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
}

.footer-subscription h5{
    margin-bottom: 20px;
}

.footer-input{
    padding: 8px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
outline: none;
border: none;
}

.subscribe--button{
    padding: 8px 20px;
    background-color: #021c41 !important;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper{
    display: flex;
}

.footer-links-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 200px;
    box-sizing: border-box;
}

.footer-links-items h2{
    margin-bottom: 16px;
    font-size: 23px;
}

.footer-links-items > h2{
    color: #fff;
}

.footer-links-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stores img{
    margin-top: 10px;
}

.footer-links-items a:hover{
    color: #021c41;
    transition: 0.3s ease-out;
}

.footer-input::placeholder{
    color: #b1b1b1;
}

.footer-logo-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.footer__logo{
    margin-bottom: 20px;
}

.logo--footer > img{
    width: 80px;
    height: auto;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.payment-methods{
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.payment-methods-icon > img{
    width: 60px;
    height: auto;
    margin: 5px;
}

@media screen and (max-width:960px) {
/*.footer-links{
    display: flex;
    flex-direction: column;
}*/

    .footer-link-wrapper{
        flex-direction: column;
        text-align: center;
    }

    .footer-links-items{
        width: 130px;
    }

    .payment-methods{
        margin-bottom: 60px;
    }

    .input-areas form{
        margin: 0;
    }

    .footer-input{
        padding: 8px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    outline: none;
    border: none;
    width: 100%;
    }
    
    .subscribe--button{
        padding: 8px;
        background-color: #021c41 !important;
        color: #fff;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0 ;
        width: 100%;
        outline: none;
        border: none;
    }
}