
.footer--wrapper{
    background-color: #FFF;
}
.footer-subscription{
    background-image: url("../Assets/Background_CTA.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer-subscription .input-areas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscription .row{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-subscription .row img{
padding: 30px;
max-width: 500px;
width: 100%;
}

.footer-subscription form{
    background: #FFF;
    padding: 5px;
    border-radius: 15px;
    width: 310px;
}

.footer-subscription input{
    border: none;
    outline: none;
    width: 200px;
}

.img--promociones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscription .subscribe--button{
    border: none;
    outline: none;
    background: #0554f0;
    border-radius: 15px;
    padding: 5px;
    color: #FFF;
    width: 100px;
}

.footer-links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-links-wrapper .logo--social--stores{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links-wrapper .logo--social--stores .logo--azul{
width: 80px;
height: auto;
margin: 20px;
}

.social--media--icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.logo--social--stores h5{
    color: #0554f0;
    font-weight: bold;
}

.social--media--icons a{
    color: #0554f0;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 20px;
}

.footer--stores{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;
}

.links--marinero-head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.links--marinero{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

.links--marinero--web{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.links--marinero--web h2{
    font-size: 20px;
    font-weight: bold;
    top: 0;
    margin-bottom: 10px;
}

.links--marinero--web a{
    color: #0554f0;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 15px;
}

.links--marinero img{
    width: 120px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.website-rights{
    margin-top: 20px;
    color: #0554f0;
    font-weight: bold;
}

.payment-methods{
    display: flex;
    list-style-type: none;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.payment-methods-icon > img{
    width: 60px;
    height: auto;
    margin: 5px;
}

@media screen and (max-width:720px) {
    .footer-subscription form{
        display: flex;
        flex-direction: row;
padding: 5px;
margin: 0;
    }

    .footer-subscription input{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    }
}

@media screen and (max-width:959px) {
    .footer--wrapper{
        padding-bottom: 50px;
    }
}

@media screen and (max-width:767px){
    .links--marinero--web,
    .img--footer{
        text-align: center;
        padding: 0 10px;
    }
}


/*social icons*/
.wrapper {
    display: inline-flex;
    list-style: none;
  }

  .wrapper .icon a{
color: #0554f0;
background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width:40 px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .facebook {
    --color: #1877f2;
  }
  .twitter {
    --color: #000000;
  }
  .instagram {
    --color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }
  .github {
    --color: #333333;
  }
  .youtube {
    --color: #cd201f;
  }
  
  .icon:hover a,
  .icon:hover .tooltip,
  .icon:hover .tooltip::before {
    background: var(--color) !important;
    color: white !important;
  }