.loginPage{
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.loginPageContainer{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.colLeft{
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.colLeft img{
   max-height: 500px;
   width: 100%;
}

.colRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colRight img{
width: 80px;
height: auto;
}

.login-title{
    border-bottom: 3px solid #00354c;
}

.btn-login{
    border: none;
    border-radius: 15px;
    background-color: #00354c;
    color: #fff;
    padding: 8px 15px;
    width: 200px;
}

@media screen and (max-width:767px) {
    .colLeft{
        display: none;
    }

    .colRight{
        padding-top: 10px;
    }
    
    .loginPage, .loginPageContainer{
        margin-right: 0;
        margin-left: 0;
    }
}